*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-image: url ('fondo.jpg');
}


.form-register{
    width: 400px;
    background:rgb(255, 93, 93);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(148, 100, 100);
    box-shadow: 7px 13px 37px rgb(192, 102, 102);
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    color: black;
}

.controls{
    width: 100%;
    background:rgb(255, 254, 254) ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18;
    line-height: 40px;
}

.form-register a{
    color: rgb(7, 7, 7);
    text-decoration: none;
    border: 18;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.form-register a:hover{
    color: white;
    text-decoration: underline;
    
}

.form-register botons{
    width: 100%;
    background:#1f53c5 ;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
} 